:lang(zh-cn) {
    font-family: Noto Serif SC,Noto Serif,JPNoto Serif;
}

:lang(en) {
    font-family: Noto Serif,Noto Serif JP,Noto Serif SC;
}

:lang(ja) {
    font-family: Noto Serif JP,Noto Serif SC,Noto Serif;
}



/*网站全面黑白*/

/*html{
filter: grayscale(1);
}*/